<!DOCTYPE html>
<html>

<Head />

<body>
    <Header />
    <Theme />
    <div class="container first-content">
        <div class="row justify-content-center">
            <div class="col-10">
                <h3 class="center fill">Bonjour, et bienvenue sur mon environnement de développement.</h3>
            </div>
        </div>
        <div class="row col-11 justify-content-center shadow-panel flex-column-reverse flex-md-row">
            <div class="col col-sm-8" style="margin-right: 1em;align-self: center;">
                <p>Vous êtes sur une plateforme en cours de développement, vous ne pouvez pas encore accéder aux
                    services associés, mais ceux-ci viendront bientôt !</p>
                <p>Contentr a vocation a devenir un CMS en full Javascript (Node, React), vous êtes sur une plateforme
                    de développement hebergée en mode PaaS sur AWS.</p>
                <p>Si vous le souhaitez, vous pouvez également jeter un coup d'oeil à mon CV <a href="/cv/eric-salle">En
                        version HTML</a> ou <a href="/cv/eric-salle?print"> PDF</a>.</p>
            </div>
            <div class="col col-sm-3">
                <div class="center profil-container row justify-content-center" style="padding-top:1em;">
                    <div class="col-10 desktop-only" style="box-sizing: border-box;">

                        <img class="lazy fill " data-src="/assets/images/custom/eric-salle.jpg" style="border:2px solid #F4906E">

                    </div>
                    <div class="col-6 mobile-only" style="box-sizing: border-box;">

                        <img class="lazy fill " data-src="/assets/images/custom/m-eric-salle.jpg" style="border:2px solid #F4906E">

                    </div>
                </div>
                <p class="center info">Je cherche un job en tant que développeur web.</p>
                <p class="center">De préference, du développement full-stack en Node.js/React.</p>
                <p class="center">Je me débrouille également en PHP.</p>
            </div>
        </div>

    </div>
    </div>
</body>

</html>